*.m4a
Müll/*
src/AllInclusive - AOT/*
test/*
Paper Resources/Amazon + EULA/*
Paper Resources/Guidelines + Examples/*
Paper Resources/Notes + Meetings/*
Paper old
Paper/*.log
Paper/*.aux
Paper/*.blg
Paper/*.lof
Paper/*.lot
Paper/*.out
Paper/*.synctex.gz
Paper/*.toc

not on github