*.m4a
Müll/*
src/AllInclusive - AOT/*
test/*
Paper Resources/Amazon + EULA/*
Paper Resources/Guidelines + Examples/*
Paper Resources/Notes + Meetings/*
Paper old
Paper/*.log
Paper/*.aux
Paper/*.blg
Paper/*.lof
Paper/*.lot
Paper/*.out
Paper/*.synctex.gz
Paper/*.toc


Paper Resources/Evaluation/Survey/survey_printables_879458/

not on github
./.git/objects/bc/40237f69837518e515f9569c42c436cc032f6b
./.git/objects/pack/pack-a0e677e622cc24bb7d8246a4237929525e6a3480.pack
./Paper Resources/Notes + Meetings/ASK_OfficeHours_Webinar_10 Apr.m4a
./.git/objects/bc/40237f69837518e515f9569c42c436cc032f6b
./.git/objects/pack/pack-a0e677e622cc24bb7d8246a4237929525e6a3480.pack
./Paper Resources/Notes + Meetings/ASK_OfficeHours_Webinar_10 Apr.m4a
